
   #headerVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      width: 50%;
      max-height: 50%;
      // video addition was researched on w3
      // adjust width

}

h1 { 
   font-family: 'Rubik', sans-serif;
   font-size: 50px;
   
}