body{ 
   background-color:$secondaryColor;
   color: rgb(0, 0, 0);
   display: block;
}

.drop-Sec { 
   display:flex;   
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 120px;
}
.drop-Down { 
   font-family: 'Karla', sans-serif;
   font-size: 35px;
   color: #fff;
   padding: 65px 0px 150px 320px;
   border: 2px solid #fff;
   width: 50%;
   

}

p{ 
   font-family: 'Karla', sans-serif;
   font-size: 25px;
   position: relative;
   margin-top: 100px;
}

.p-One { 
   max-width: 54%;
}
.container { 
   display: flex;
   align-items: center;
   justify-content: center;
}
.container .title-Card { 
   flex-wrap: wrap;
   justify-content: center;
   width: 400px;
   height: 300px;
   margin-top: 20px;
   padding: 10px 100px ;
   background-color: rgb(255, 237, 213);
   font-size: 20px;
}

.p-Two { 
   display: flex;
   align-items: center;
   justify-content: center;

}