body{ 
   
   display: flex;
   background-color: rgba(252, 197, 102, 0.845);
   color: rgb(0, 0, 0);
   display: block;
}

p{ 
   font-family: 'Karla', sans-serif;
   font-size: 20px;
   position: absolute;
   margin-top: 100px;
}
.pOne{ 
   left: 600px;
   top: 950px;
   height: 100px;
}
.pTwo { left: 700px;
   top: 1000px;
   height: 100px; 
}