// Fonts & Sizing

$baseFont: 'Karla', sans-serif;
$secondaryFont: 'Rubik', sans-serif;

// Background Colours

$primaryColor: rgba(249, 212, 148, 0.845);
$secondaryColor:rgba(252, 197, 102, 0.845);

